.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.table th {
    text-align: left;
    padding: 5px;
    background-color: #04AA6D;
    color: white;
}
.table td {
    padding: 5px;
    font-size: 14px;
}
.table th,
.table td {
    border: 1px solid black;
}
.table tr:nth-child(even){
    background-color: #d9d6d6;
}
.albumBtn {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    text-decoration: none;
}